.scrollbar-y {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    transform: translateX();
}

.scrollbar-y::-webkit-scrollbar {
    width: 0;
    height: 100px;
    transform: translateX(50%);
}

.scrollbar-y::-webkit-scrollbar-track {
    background-color: var(--bs-light);
}

.scrollbar-y::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray);
}