.scrollbar-x {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    transform: translateY();
    display: flex;
}

.scrollbar-x::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrollbar-x::-webkit-scrollbar-track {
    background-color: var(--bs-light);
}

.scrollbar-x::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray);
}

.stories-section {
    display: flex;
    padding: 7px 15px 7px 10px;
}

.stories-section .stories {
    width: 112px;
    height: 212px;
    box-shadow: 0 0 0 0 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    margin-right: 7px;
    position: relative;
    user-select: none;
    transition: 0.1s;
    cursor: pointer;
}

.stories-section .stories:hover {
    opacity: 0.9;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.stories-section .stories:active {
    transform: scale(0.98);
}