.nav-1 {
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
    background-color: #242527;
    max-width: 395px;
    width: 100vw;
    height: 55px;
}

.nav-1 ul {
    list-style: none;
    display: flex;
}

.nav-1 .logo {
    text-decoration: none;
    color: #e4e4ec;
    font-weight: 700;
    font-size: 32px;
    align-self: center;
}

.nav-1 .nav-1-btns {
    margin-top: 9px;
}

.nav-1 ul li {
    margin-left: 5px;
    transition: 0.1s;
}

.nav-1 ul li button {
    padding: 6px 7px;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: #393a3c;
}

.nav-1 ul li button img {
    width: 23px;
    height: 23px;
    transform: translateY(-1px);
    opacity: 0.85;
}

.nav-1 ul li:hover {
    opacity: 0.7;
}