.nav-2 {
    padding: 0;
    background-color: #242527;
    max-width: 395px;
    width: 100vw;
    height: 47px;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.37);
    bottom: 0;
    left: 0;
}

.nav-2 button img {
    opacity: 0.7;
}

.nav-2 button {
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}

.nav-2 button:hover img {
    opacity: 0.8;
}

.nav-2 .active-btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--bs-primary);
    opacity: 1;
    left: 0;
    bottom: 0;
    border-radius: 60px 60px 0 0;
}